
/* body is used as background */
body {
  position: static;
  background-color: rgb(247, 241, 174);

  position: absolute;
}

/* Index area styling */
.index {
  border: 2px solid black;
  border-radius: 30px;
  width: 29%;
  height: 550px;
  background-color: rgb(109, 246, 150);
}

/* Index word is as h2 */
h2 {
  color: rgb(191, 2, 2);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

/* horizontalrule for index */
.hr {
  border: 3px double red;
}

/* horizontal rule for index area division */
hr {
  border: 1px solid black;
}

/* All links are in list */
li {
  padding: 1px;
  color: brown;
  list-style-type: none;
}

/* all topics button which is in index */
button {
  background-color: #ee9f7b;
  border: 3px groove #b13c06;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 600;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

/* all subtopics button which is in index */
.ylbtn {
  background-color: #eee87b;
  border: 3px groove black;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 600;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 115px;
}

.ylbtn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.ylbtn:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

/* all the anchor tag style */
a {
  color: black;
  text-decoration: wavy;
}

/* style to i frame */
.iframe {
  
  border: 2px solid black;
  border-radius: 30px;
  background-color: #f0b79d;
  padding: 10;
  width: 70%;
  height: 550px; ;
}

/* style to the "go to the top button" */
.topbtn {
  margin-left: 800px;
  background-color: green;
  border: 3px groove #b13c06;
  border-radius: 56px;
  color: #fa0606;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 20px;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

